@font-face {
    font-family: 'Fantasque Sans Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Fantasque Sans Mono'), url('FantasqueSansMonoRegular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

*:focus {
    outline: none;
}

html, body {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    overflow:hidden;
    font-family: 'Fantasque Sans Mono', monospace;
}

textarea#output {
    padding: 1vw;
    font-size: 1.2em;
    box-sizing: border-box;
    background-color: #eee;
    border: none;
    resize: none;
    width: 100%;
    flex: 1;
    color: black;
}

img#gears {
    position: absolute;
    top: 1vw;
    right: 1vw;
}

form#input {
    width: 100%;
    height: 1.2em;
    display: flex;
    min-width: 100%;
    flex-direction: row;
    padding: 10px 0 10px 0;
}

span#prompt-message {
    display: block;
    font-size: 1.2em;
    padding: 0 3px 0 3px;
}

span#prompt {
    display: block;
    font-size: 1.2em;
    padding-right: 3px;
}

input#line-input {
    font-size: 1.2em;
    border: none;
    overflow: hidden;
    flex: 1;
    font-family: 'Fantasque Sans Mono', monospace;
}

